[mysqld]
server-id=1
character-set-server=utf8mb4
collation-server=utf8mb4_bin
max_allowed_packet=16MB
default_authentication_plugin=mysql_native_password

# Timezone
default-time-zone=SYSTEM
log_timestamps=SYSTEM

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
